body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #09b6bc;
}

.music-player {
    background-color: #c61a9e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(20, 28, 137, 0.1);
    text-align: center;
}

.controls button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(163, 16, 141);
    color: rgb(2, 2, 30);
}
